body {
	background-image: url("stars.png");
	margin: 0;
	background-attachment: fixed;
	cursor: crosshair;
}

#container1 {
	width: 2000px;
	height: 1600px;
	background-image: url("addStars.png");
}

#container2 {
	width: 200px;
	height: 171px;
	position: absolute;
	top: 400px;
	left: 300px;
	-webkit-transition: 1.5s ease-out;
	-moz-transition: 1.5s ease-out;
	-o-transition: 1.5s ease-out;
	transition: 1.5s ease-out;
}

img {
	width: 200px;
	height: auto;
	position: absolute;
	-webkit-transition: 1s ease-out;
	-moz-transition: 1s ease-out;
	-o-transition: 1s ease-out;
	transition: 1s ease-out;
}

p {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}